<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action History</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="sidebar">
    <div class="profile">
        <img src="https://cdn-icons-png.flaticon.com/128/1323/1323734.png" alt="Avatar">
        <div class="profile-info">
            <h4>Thắng</h4>
            <p>leedt2003hy@gmail.com</p>
        </div>
    </div>
    <ul>
        <li><a href="/homepage">Dashboard</a></li>
        <li><a href="/dashboard">Dashboard 2</a></li>
        <li><a href="/datasensors">Data Sensors</a></li>
        <li><a href="/action_history">Action History</a></li> <!-- Liên kết đến trang Action History -->
        <li><a href="/profile">Profile</a></li>
    </ul>
</div>

<div class="content">
    <div class="profile-details">
        <h2>Thông tin chi tiết</h2>
        <p><strong>Name:</strong> Lê Đức Thắng</p>
        <p><strong>Mã SV:</strong> B21DCCN664</p>
        <p><strong>Lớp:</strong> D21CQCN04-B</p>
        <p><strong>Email:</strong> leedt2003hy@gmail.com</p>
        <p><strong>Call API:</strong> file dos api</p>
        <p><strong>File DOS:</strong> link file dos</p>
        <p><strong>Github:</strong> link github</p>
        <p><strong>Link Web:</strong> link web</p>
    </div>
</div>

</body>

</html>